		<!--begin fscreen-->
		<div class="fscreen" style="background: url('img/fscreen-bg.jpg');">
			{% include "partials/_header.html" %}
			<!--begin fscreen__inner-->
			<div class="fscreen__inner">
				<!--begin l-->
				<div class="l">
					<!--begin first slider-->
					<div class="fslider">
						<div class="fslider__slide">
							<p class="fscreen__pre-title">WORLD MUSIC TOUR</p>
							<h1 class="title-lg">MI Music: Funk Carves Out A Groove At The Funk Music Hall Of Fame In Ohio</h1>
							<div class="person">
								<img src="img/fscreen-user.png" alt="alt">
								<span>james burlton</span>
								<span>11 june 2022</span>
							</div>
						</div>

					</div>
					<!--end first slider-->
				</div>
				<!--end l-->
				<div class="fscreen__nav">
					<a class="is-active" href="#">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
				</div>
			</div>
			<!--end fscreen__inner-->

		</div>
		<!--end fscreen-->
		