		<!--begin header-->
		<div class="header">
			<!--begin l-->
			<div class="l">
				<!--begin header__inner-->
				<div class="header__inner">
					<div class="header__left">
						<a href="#" class="header__logo">
							<span>mi</span> music.
						</a>	
					</div>
					<div class="header__right">
						<ul class="header__menu">
							<li><a href="#">HOME</a></li>
							<li><a href="#">LIVE</a></li>
							<li><a href="#">ALBUMS</a></li>
							<li class="is-active"><a href="#">NEWS</a></li>
							<li><a href="#">ABOUT</a></li>
						</ul>
						<ul class="socials">
							<li><a href="#">{{mixins.icon('fb')}}</a></li>
							<li><a href="#">{{mixins.icon('tw')}}</a></li>
							<li><a href="#">{{mixins.icon('insta')}}</a></li>
							<li><a class="soc-you" href="#">{{mixins.icon('you2')}}</a></li>
						</ul>
					</div>
				</div>
				<!--end header__inner-->

			</div>
			<!--end l-->

		</div>
		<!--end header-->
		
