.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-fb {
  width: 0.52em;
  height: 1em;
  fill: #FFF;
}
.icon-insta {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-play {
  width: 0.81em;
  height: 1em;
  fill: initial;
}
.icon-tw {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-you {
  width: 1.36em;
  height: 1em;
  fill: none;
}
.icon-you1 {
  width: 1.4em;
  height: 1em;
  fill: #DD2C28;
}
.icon-you2 {
  width: 0.83em;
  height: 1em;
  fill: initial;
}
